#hometxt{
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(rgba(249, 250, 252, 0.911),rgba(247, 178, 49, 0.404));/*url("https://img.freepik.com/premium-photo/close-up-laptop-computer-with-code-screen-cozy-home-office-workplace-lit-by-lamplight-copy_236854-39339.jpg?size=626&ext=jpg");  */
   height: 100vh;
   object-fit: contain;
   background-repeat: no-repeat;
   background-size: cover;
  
}

.homeText{
    max-width: 700px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 130px;
   z-index: 1;
   
}
.homeText h1, h4, p{
    margin-top: 20px;
}
.homeText h4 span{
    color: #e6a61c;
    font-weight: 700;
}

.homeText button{
    padding: 10px 25px;
    color: #e6a61c;
    background-color: transparent;
    font-weight: 500;
    font-size: 22px;
    border: 1px solid grey;
    margin-top: 20px;
}


#visionBox{
    margin-top: 100px;
}