.navbar-nav{
    margin-left: auto;
   
}
#navBarBox{
  
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    background-color: rgb(252, 248, 248);
    z-index: 100;
   
}
.nav-item{
    margin: 0px 10px;
}
#logo{
   color: #e6a61c;
   font-weight: 700;
   font-size: 30px;
   font-family: 'Poppins', sans-serif;
}
#navTxt{
    color: black;
    font-size: 20px;
    font-weight: 700;
}
#navTxt:hover{
    color: rgb(228, 190, 110);
    text-decoration: underline;
}
#textBtn{
    color:rgb(53, 52, 52);
    background-color:  rgb(228, 190, 110);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

#textBtn i{
    margin-right: 5px;
}
#textBtn:hover{
    color: #fff;
    border: 1px solid grey;
    transition: 5ms;
}
#modalContent{
   
    padding: 10px 50px;
    background-color: rgb(241, 241, 241);
}
#exampleFormControlInput1{
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.37);
}

#modalSendBtn{
    color: #fff;
    background-color:  rgb(228, 190, 110);
    padding: 8px 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}
#modalSendBtn:hover{
    color: black;
}
#exampleModalLabel{
    color: #e6a61c;
    font-weight: 700;
  
}