#technicalBox{
    padding: 100px 0px;
    margin-top:50px;
    background-color: rgba(240, 238, 238, 0.233);
    
}
#technicalBox h2{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    color: #e6a61c;
}

#technicalCard{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerBox{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 5px;
  
}

.innerBox li{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: 700;
    margin: 10px 0px;
    font-size: 20px;
   color: gray;
}