#aboutPage{
    object-fit: contain;
   background-repeat: no-repeat;
   height: 80vh;
   background-size: cover;
   background-image: linear-gradient(rgba(249, 250, 252, 0.842),rgba(247, 178, 49, 0.404)),url("https://img.freepik.com/premium-photo/top-view-workspace-with-tablet-blank-white-screen-keyboard-working-device-copy-space_37714-1247.jpg"); 
}
#aboutHome{
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutHome h1{
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   margin-top: 25%;
}