#aboutPage{
    object-fit: contain;
   background-repeat: no-repeat;
   height: 80vh;
   background-size: cover;
   background-image: linear-gradient(rgb(249, 250, 252),rgba(247, 178, 49, 0.384)),url("https://img.freepik.com/premium-photo/top-view-workspace-with-tablet-blank-white-screen-keyboard-working-device-copy-space_37714-1247.jpg"); 
}
#aboutHome{
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutHome h1{
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   margin-top: 25%;
}
#aboutWrap{
   
    padding: 50px 0px;
}
#aboutWrap h2{
    font-weight: 700;
    font-size: 36px;
    color: #e6a61c;
}
/* #aboutCard {
    border: 1px solid black;
} */
#aboutCard img{
    width: 100%;
    object-fit: contain;
    height: fit-content;
}


#innerCard{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 22%;
    border-radius: 50%;
    transform: translate(-60%);
    left: 60%;
 }
 #missionCard{
    border: 1px solid rgba(128, 128, 128, 0.205);
    background-color: #e6a61c73;
    margin: 50px 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.404);
    cursor: pointer;
 }
 #missionCard:hover{
    background-color: #e6a61c56;
   
 }
 #missionCard h4{
    text-align: center;
    color: black;
    border-bottom: 1px solid #e6a61c4d;
    padding-bottom: 4px;
 }

 #innerCard i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.911);
    border-top: 2px solid #e6a61c88;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 60px;
    color: #00000067;
    
 }

 #imgHomeBox{
    height: 100vh;
    justify-content: center;
    align-items: center;
 }
#imgHome{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}
#homeTextBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#reviewCard{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 22%;
    margin-bottom: 25%;
}
#reviewCard p{
    font-style: italic;
    color: #e6a61c;
    font-weight: bold;

}
#reviewCard p i{
    font-size: 30px;
    padding: 0px 20px;
}
#homeTextBox h1{
    font-size: 55px;
    color: rgb(70, 152, 219);
    text-shadow: 2px 2px 2px rgb(32, 31, 31);
}
#homeTextBox h5{  
    line-height: 2rem;
     letter-spacing: 0.1rem;
     font-weight: 100;
}
#homeTextBox button{
    padding: 18px 40px;
    border-radius: 5px;
    background-color: rgb(94, 94, 228);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    margin-top: 25px;
    box-shadow: 2px 2px 10px black;
}
#homeTextBox button:hover{
    background-color: rgb(56, 56, 236);
}

#homeHeadLine h2{
    text-align: start;
    padding-top: 30px;
    
}
